body{
    font-family: 'Varela Round', sans-serif;
    background-color: #00517c;
    color: white;
}
img{
 
    width:100%;
}
.dragonly{
    padding: 20px 0;
}
.item{
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 
}
.dropitems{
    background-color: #041c3c;
   
}
.plus{

}
h4{
    font-weight: 400;
}
.item h4 i{
    display: none;
    cursor: pointer;
}
